* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.slides {
  width: 100%;
  height: 300vh;
  rotate: -20deg;
  gap: 2vh;
}

.slide {
  width: 250%;
  height: 40vh;
  gap: 2vh;
}

.slide-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35vw;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide1,
.slide3,
.slide5 {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.slide2,
.slide4 {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.7s;
}
