* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
#main {
  width: 100%;
  min-height: 100vh;
  background-color: #111;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.box {
  position: absolute;
  background-position: center;
  background-size: cover;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.box1 {
  width: 20vw;
  height: 40vh;
  top: 8%;
  left: 15%;
  background-image: url("https://i.pinimg.com/736x/69/05/5e/69055e9dc900820af50842dc26b963eb.jpg");
}

.box2 {
  width: 20vw;
  height: 40vh;
  top: 38%;
  left: 42%;
  background-image: url("https://i.pinimg.com/564x/9b/14/51/9b14514012266384a7960b9a29d733a0.jpg");
}

.box3 {
  width: 20vw;
  height: 30vh;
  top: 20%;
  left: 75%;
  background-image: url("https://i.pinimg.com/564x/a4/f0/72/a4f072ad2fa157ed177a0f8c21e40551.jpg");
}

.box4 {
  width: 18vw;
  height: 28vh;
  bottom: 2%;
  left: 2%;
  background-image: url("https://i.pinimg.com/564x/de/27/85/de278549dedbd8870b691ef12eb20fdd.jpg");
}

.box5 {
  width: 17vw;
  height: 30vh;
  bottom: 5%;
  left: 70%;
  background-image: url("https://i.pinimg.com/564x/c4/16/a0/c416a0128970d2180bb4f995f559e8d1.jpg");
}
